.main {
  display: flex;
  justify-content: center;
  background-size: cover;
  
}

.left-column,
.right-column {
  border: solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 300px;
  stop-opacity: initial;
}

.left-column {

}

.right-column {

}

h2 {
  border: solid green;
  color: white;
}

.player-0-wins {

}

h1 {
  border: solid purple;
  color: white;
  text-align: center;
}

.triumph-icon {
  height: 70px;
  width: 70px;
}

.ducati-icon {
  height: 50px;
  width: 50px;
}
.game-area {
  background-color: black;
  opacity: 0.8;
  border: solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 600px;
  width: 500px;
}

.banner {
  color: white;
}

.play-grid {
  /* border: solid blue; */
  /* justify-content: center;
  align-items: center; */
  display: grid;
  height: 35vh;
  width: 30vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.grid-square {
  /* border: solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 32px;
}

#square1 {
  border-left: solid 7px white;
  border-right: solid 7px white;
}

#square3 {
  border-top: solid 7px white;
  border-bottom: solid 7px white;
}

#square4 {
  border: solid 7px white;
}

#square5 {
  border-top: solid 7px white;
  border-bottom: solid 7px white;
}

#square7 {
  border-left: solid 7px white;
  border-right: solid 7px white;

}